<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
  </head>
  <body>
    <div id="content-overlay" style="height: 100%; width: 100%; position: fixed; top: 0; left: 0; background-color: #1c1c1c; z-index: 100"></div>
    <div id="container" class="mobile-ui">
      <header class="header">
        <div class="sidebar-button-user-logo-name">
          <button class="button toggle-sidebar-button"><img src="../assets/icons/sidebar.svg" alt="" class="icon toggle-sidebar-icon" /></button>
          <img src="../assets/images/logo.png" alt="" class="user-logo" />
          <h1 class="user-name">Xeno</h1>
        </div>
        <h1 class="current-tab-name">Dashboard</h1>
        <button class="button theme-toggle-button">
          <img src="../assets/icons/light/theme-toggle.svg" alt="Dark and light mode toggle" class="icon dark-light" data-name="theme-toggle" />
        </button>
      </header>
      <main class="main" data-tab="dashboard">
        <aside class="card navigation-sidebar desktop-visible">
          <div class="desktop-open-transaction-panel-button-separator-container">
            <button class="button navigation-button-add desktop">Add</button>
            <div class="separator"></div>
          </div>
          <button class="button navigation-button navigation-button-dashboard desktop selected" data-navigation-tab="dashboard">
            <img src="../assets/icons/navigation/light/dashboard.svg" alt="" class="icon" data-name="dashboard" data-path="navigation" />
            <p class="navigation-button-text">Dashboard</p>
          </button>
          <button class="button navigation-button navigation-button-transactions desktop" data-navigation-tab="transactions">
            <img src="../assets/icons/navigation/light/transactions.svg" alt="" class="icon" />
            <p class="navigation-button-text">Transactions</p>
          </button>
          <button class="button navigation-button navigation-button-budget desktop" data-navigation-tab="budget">
            <img src="../assets/icons/navigation/light/budget.svg" alt="" class="icon" />
            <p class="navigation-button-text">Budget</p>
          </button>
          <button class="button navigation-button navigation-button-statistics desktop" data-navigation-tab="statistics">
            <img src="../assets/icons/navigation/light/statistics.svg" alt="" class="icon dark-light" data-name="statistics" data-path="navigation" />
            <p class="navigation-button-text">Statistics</p>
          </button>
        </aside>
        <div class="main-content"></div>
        <div class="desktop-quick-view-actions-sidebar"></div>
      </main>
      <footer class="footer">
        <button class="button navigation-button navigation-button-dashboard selected" data-navigation-tab="dashboard">
          <img src="../assets/icons/navigation/light/dashboard.svg" alt="" class="icon" data-name="dashboard" data-path="navigation" />
        </button>
        <button class="button navigation-button navigation-button-transactions" data-navigation-tab="transactions">
          <img src="../assets/icons/navigation/light/transactions.svg" alt="" class="icon" />
        </button>
        <button class="button navigation-button navigation-button-add mobile"><img src="../assets/icons/navigation/light/plus.svg" alt="" /></button>
        <button class="button navigation-button navigation-button-budget" data-navigation-tab="budget">
          <img src="../assets/icons/navigation/light/budget.svg" alt="" class="icon" />
        </button>
        <button class="button navigation-button navigation-button-statistics" data-navigation-tab="statistics">
          <img src="../assets/icons/navigation/light/statistics.svg" alt="" class="icon dark-light" data-name="statistics" data-path="navigation" />
        </button>
      </footer>
      <div class="transaction-panel-container">
        <div class="card transaction-panel">
          <h2 class="heading add-transaction-heading">New Transaction</h2>
          <div class="separator"></div>
          <div class="add-transaction-inputs">
            <div class="add-transaction-input add-transaction-input-type-container">
              <label class="income-expense-label">
                Income
                <input type="radio" name="income-expense" id="transaction-input-type-income" data-type="income" />
              </label>
              <label class="income-expense-label">
                Expense
                <input type="radio" name="income-expense" id="transaction-input-type-expense" data-type="expense" checked />
              </label>
            </div>
            <div class="add-transaction-input add-transaction-input-amount-currency-container">
              <label class="transaction-input-label">
                Amount:
                <input type="number" name="" id="add-transaction-input-amount" class="transaction-input" data-type="amount" />
              </label>
              <div class="add-transaction-input transaction-input-currency-container">
                <select name="" id="add-transaction-input-currency" class="add-transaction-select-input" data-type="currency">
                  <option value="usd">$ USD</option>
                  <option value="eur">€ EUR</option>
                  <option value="gbp">£ GBP</option>
                  <option value="jpy">¥ JPY</option>
                  <option value="krw">₩ KRW</option>
                  <option value="inr">₹ INR</option>
                  <option value="rub">₽ RUB</option>
                  <option value="try">₺ TRY</option>
                  <option value="vnd">₫ VND</option>
                  <option value="brl">R$ BRL</option>
                  <option value="cad">C$ CAD</option>
                  <option value="aud">A$ AUD</option>
                  <option value="chf">CHF CHF</option>
                  <option value="hkd">HK$ HKD</option>
                  <option value="nzd">NZ$ NZD</option>
                  <option value="sgd">SG$ SGD</option>
                </select>
              </div>
            </div>
            <div class="add-transaction-input add-transaction-input-description">
              <label class="transaction-input-label">
                Description:
                <input type="text" id="add-transaction-input-description" class="transaction-input" data-type="description" />
              </label>
            </div>
            <div class="add-transaction-input add-transaction-input-method">
              <label class="transaction-input-label">
                Method:
                <select id="add-transaction-input-method" class="transaction-input add-transaction-select-input" data-type="method">
                  <option value="cash">Cash</option>
                  <option value="card">Card</option>
                  <option value="bank-transfer">Bank Transfer</option>
                  <option value="other">Other</option>
                </select>
              </label>
            </div>
            <div class="add-transaction-input add-transaction-input-category">
              <label class="transaction-input-label">
                Category:
                <select id="add-transaction-input-category" class="transaction-input add-transaction-select-input" data-type="category">
                  <option value="default">Default</option>
                  <option value="food-dining">Food & Dining</option>
                  <option value="transportation">Transportation</option>
                  <option value="shopping">Shopping</option>
                  <option value="bills-utilities">Bills & Utilities</option>
                  <option value="entertainment">Entertainment</option>
                  <option value="healthcare">Healthcare</option>
                  <option value="travel">Travel</option>
                  <option value="other">Other</option>
                </select>
              </label>
            </div>
            <div class="add-transaction-input add-transaction-input-category">
              <label class="transaction-input-label">
                Time:
                <input type="datetime-local" id="add-transaction-input-time" class="transaction-input" data-type="time" />
              </label>
            </div>
            <div class="add-transaction-input-preview">
              <div class="transaction-card expense">
                <div class="transaction-icon-category-method-time-container">
                  <div class="icon transaction-icon">
                    <img src="../assets/icons/transaction-category/expense/expense.svg" alt="" class="transaction-icon-preview" />
                  </div>
                  <div class="transaction-category-method-time-container">
                    <p class="transaction-category transaction-preview" data-type="category">Default</p>
                    <div class="transaction-method-time-container">
                      <p class="transaction-method transaction-preview" data-type="method">Cash</p>
                      <p>-</p>
                      <p class="transaction-time transaction-preview" data-type="time">Now</p>
                    </div>
                  </div>
                </div>
                <p class="transaction-amount transaction-preview" data-type="amount">-$0</p>
              </div>
            </div>
            <div class="add-transaction-action-buttons-container">
              <button class="button add-transaction-action-button discard-transaction-button secondary-button">Discard</button>
              <button class="button add-transaction-action-button add-transaction-button primary-button">Add</button>
            </div>
          </div>
        </div>
      </div>
      <div class="budget-input-panel-container">
        <div class="card budget-input-panel">
          <div class="budget-input-heading-separator">
            <h2 class="heading budget-input-panel-heading">Add New Budget</h2>
            <div class="separator"></div>
          </div>
          <div class="budget-input-panel-inputs">
            <div class="budget-input-time-container filter-container">
              <button class="button filter budget-input-time budget-input-time-weekly" data-type="recurrence" data-value="this-week">Weekly</button>
              <button class="button filter budget-input-time budget-input-time-monthly selected" data-type="recurrence" data-value="this-month">
                Monthly
              </button>
              <button class="button filter budget-input-time budget-input-time-yearly" data-type="recurrence" data-value="this-year">Yearly</button>
            </div>
            <div class="budget-input-amount-currency">
              <label class="input-label">
                Amount:
                <input type="number" name="" id="budget-input-amount" class="budget-input input" data-type="amount" />
              </label>
              <div class="budget-input-currency-container">
                <select name="" id="budget-input-currency" class="budget-input drop-down-input input" data-type="currency">
                  <option value="usd">$ USD</option>
                  <option value="eur">€ EUR</option>
                  <option value="gbp">£ GBP</option>
                  <option value="jpy">¥ JPY</option>
                  <option value="krw">₩ KRW</option>
                  <option value="inr">₹ INR</option>
                  <option value="rub">₽ RUB</option>
                  <option value="try">₺ TRY</option>
                  <option value="vnd">₫ VND</option>
                  <option value="brl">R$ BRL</option>
                  <option value="cad">C$ CAD</option>
                  <option value="aud">A$ AUD</option>
                  <option value="chf">CHF CHF</option>
                  <option value="hkd">HK$ HKD</option>
                  <option value="nzd">NZ$ NZD</option>
                  <option value="sgd">SG$ SGD</option>
                </select>
              </div>
            </div>
            <label class="input-label">
              Category:
              <select id="budget-input-category" class="budget-input drop-down-input input" data-type="category">
                <option value="default">Default</option>
                <option value="food-dining">Food & Dining</option>
                <option value="transportation">Transportation</option>
                <option value="shopping">Shopping</option>
                <option value="bills-utilities">Bills & Utilities</option>
                <option value="entertainment">Entertainment</option>
                <option value="healthcare">Healthcare</option>
                <option value="travel">Travel</option>
                <option value="other">Other</option>
              </select>
            </label>
          </div>
          <div class="budget-input-preview">
            <div class="budget-card">
              <div class="budget-icon-type-progress-amount-progress-bar">
                <img
                  src="../assets/icons/transaction-category/expense/expense.svg"
                  alt=""
                  class="icon budget-icon budget-preview-input"
                  data-type="icon"
                />
                <div class="budget-type-progress-amount-progress-bar">
                  <div class="budget-type-progress-amount">
                    <p class="budget-type budget-preview-input" data-type="category">Default</p>
                    <div class="budget-progress-amount budget-preview-input-amount">
                      <div class="budget-preview-amount budget-preview-input" data-type="currency">$</div>
                      -/
                      <div class="budget-preview-amount-currency-container">
                        <div class="budget-preview-amount budget-preview-input" data-type="currency">$</div>
                        <div class="budget-preview-amount budget-preview-input" data-type="amount">0</div>
                      </div>
                    </div>
                  </div>
                  <p class="budget-time budget-preview-input recurrence-time" data-type="recurrence">- Monthly</p>
                  <progress
                    value="30"
                    max="100"
                    style="accent-color: greenyellow"
                    class="remaining-budget-progress-bar budget-preview-input"
                    data-type="progress"
                  >
                    30%
                  </progress>
                </div>
              </div>
              <div class="budget-preview-remaining-amount-amount-currency-container">
                <p class="budget-remaining-amount budget-preview-input" data-type="currency">$</p>
                <p class="budget-remaining-amount budget-preview-input" data-type="amount">0</p>
              </div>
            </div>
          </div>
          <div class="budget-input-message-container"></div>
          <div class="budget-input-action-buttons">
            <button class="button budget-input-button budget-input-discard-button secondary-button">Discard</button>
            <button class="button budget-input-button budget-input-confirm-button primary-button">Add</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
