<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
  </head>
  <body>
    <div id="container">
      <header class="header">
        <div class="sidebar-button-user-logo-name">
          <button class="button toggle-sidebar-button"><img src="../assets/icons/sidebar.svg" alt="" class="icon toggle-sidebar-icon" /></button>
          <img src="../assets/images/logo.png" alt="" class="user-logo" />
          <h1 class="user-name">Xeno</h1>
        </div>
        <h1 class="current-tab-name">Dashboard</h1>
        <button class="button theme-toggle-button">
          <img src="../assets/icons/light-mode.svg" alt="Dark and light mode toggle" class="icon" />
        </button>
      </header>
      <main class="main">
        <aside class="card navigation-sidebar desktop-navigation-sidebar visible">
          <div class="desktop-add-transaction-button-separator-container">
            <button class="button desktop-add-transaction-button">Add</button>
            <div class="separator"></div>
          </div>
          <button class="button navigation-button navigation-button-dashboard desktop selected" data-navigation-tab="dashboard">
            <img src="../assets/icons/navigation/dashboard.svg" alt="" class="icon" />
            <p class="navigation-button-text">Dashboard</p>
          </button>
          <button class="button navigation-button navigation-button-transactions desktop" data-navigation-tab="transactions">
            <img src="../assets/icons/navigation/transactions.svg" alt="" class="icon" />
            <p class="navigation-button-text">Transactions</p>
          </button>
          <button class="button navigation-button navigation-button-budget desktop" data-navigation-tab="budget">
            <img src="../assets/icons/navigation/budget.svg" alt="" class="icon" />
            <p class="navigation-button-text">Budget</p>
          </button>
          <button class="button navigation-button navigation-button-statistics desktop" data-navigation-tab="statistics">
            <img src="../assets/icons/navigation/statistics.svg" alt="" class="icon" />
            <p class="navigation-button-text">Statistics</p>
          </button>
        </aside>
        <div class="main-content"></div>
        <div class="desktop-quick-view-actions-sidebar"></div>
      </main>
      <footer class="footer">
        <button class="button navigation-button navigation-button-dashboard selected" data-navigation-tab="dashboard">
          <img src="../assets/icons/navigation/dashboard.svg" alt="" class="icon" />
        </button>
        <button class="button navigation-button navigation-button-transactions" data-navigation-tab="transactions">
          <img src="../assets/icons/navigation/transactions.svg" alt="" class="icon" />
        </button>
        <button class="button navigation-button navigation-button-add mobile"><img src="../assets/icons/navigation/plus.svg" alt="" /></button>
        <button class="button navigation-button navigation-button-budget" data-navigation-tab="budget">
          <img src="../assets/icons/navigation/budget.svg" alt="" class="icon" />
        </button>
        <button class="button navigation-button navigation-button-statistics" data-navigation-tab="statistics">
          <img src="../assets/icons/navigation/statistics.svg" alt="" class="icon" />
        </button>
      </footer>
      <button class="button navigation-button navigation-button-add tablet"><img src="../assets/icons/navigation/plus.svg" alt="" /></button>
      <aside class="card navigation-sidebar tablet-navigation-sidebar visible">
        <button class="button navigation-button navigation-button-dashboard tablet selected" data-navigation-tab="dashboard">
          <img src="../assets/icons/navigation/dashboard.svg" alt="" class="icon" />
          <p class="navigation-button-text">Dashboard</p>
        </button>
        <button class="button navigation-button navigation-button-transactions tablet" data-navigation-tab="transactions">
          <img src="../assets/icons/navigation/transactions.svg" alt="" class="icon" />
          <p class="navigation-button-text">Transactions</p>
        </button>
        <button class="button navigation-button navigation-button-budget tablet" data-navigation-tab="budget">
          <img src="../assets/icons/navigation/budget.svg" alt="" class="icon" />
          <p class="navigation-button-text">Budget</p>
        </button>
        <button class="button navigation-button navigation-button-statistics tablet" data-navigation-tab="statistics">
          <img src="../assets/icons/navigation/statistics.svg" alt="" class="icon" />
          <p class="navigation-button-text">Statistics</p>
        </button>
      </aside>
      <div class="add-transaction-panel-container">
        <div class="card add-transaction-panel visible">
          <h2 class="heading add-transaction-heading">New Transaction</h2>
          <div class="separator"></div>
          <div class="add-transaction-inputs">
            <div class="add-transaction-input add-transaction-input-type-container">
              <label class="income-expense-label">
                Income
                <input type="radio" name="income-expense" id="transaction-input-type-income" data-type="income" />
              </label>
              <label class="income-expense-label">
                Expense
                <input type="radio" name="income-expense" id="transaction-input-type-expense" data-type="expense" checked />
              </label>
            </div>
            <div class="add-transaction-input add-transaction-input-amount-currency-container">
              <label class="transaction-input-label">
                Amount:
                <input type="number" name="" id="add-transaction-input-amount" class="transaction-input" data-type="amount" />
              </label>
              <div class="add-transaction-input transaction-input-currency-container">
                <select name="" id="add-transaction-input-currency" class="add-transaction-select-input" data-type="currency">
                  <option value="$">$ USD</option>
                  <option value="€">€ EUR</option>
                  <option value="£">£ GBP</option>
                  <option value="¥">¥ JPY</option>
                  <option value="₩">₩ KRW</option>
                  <option value="₹">₹ INR</option>
                  <option value="₽">₽ RUB</option>
                  <option value="₺">₺ TRY</option>
                  <option value="₫">₫ VND</option>
                  <option value="R$">R$ BRL</option>
                  <option value="C$">C$ CAD</option>
                  <option value="A$">A$ AUD</option>
                  <option value="CHF">CHF CHF</option>
                  <option value="HK$">HK$ HKD</option>
                  <option value="NZ$">NZ$ NZD</option>
                  <option value="SG$">SG$ SGD</option>
                </select>
              </div>
            </div>
            <div class="add-transaction-input add-transaction-input-description">
              <label class="transaction-input-label">
                Description:
                <input type="text" id="add-transaction-input-description" class="transaction-input" data-type="description" />
              </label>
            </div>
            <div class="add-transaction-input add-transaction-input-method">
              <label class="transaction-input-label">
                Method:
                <select id="add-transaction-input-method" class="transaction-input add-transaction-select-input" data-type="method">
                  <option value="cash">Cash</option>
                  <option value="card">Card</option>
                  <option value="bank-transfer">Bank Transfer</option>
                  <option value="other">Other</option>
                </select>
              </label>
            </div>
            <div class="add-transaction-input add-transaction-input-category">
              <label class="transaction-input-label">
                Category:
                <select id="add-transaction-input-category" class="transaction-input add-transaction-select-input" data-type="category">
                  <option value="default">Default</option>
                  <option value="food-dining">Food & Dining</option>
                  <option value="transportation">Transportation</option>
                  <option value="shopping">Shopping</option>
                  <option value="bills-utilities">Bills & Utilities</option>
                  <option value="entertainment">Entertainment</option>
                  <option value="healthcare">Healthcare</option>
                  <option value="travel">Travel</option>
                  <option value="other">Other</option>
                </select>
              </label>
            </div>
            <div class="add-transaction-input add-transaction-input-category">
              <label class="transaction-input-label">
                Time:
                <input type="datetime-local" id="add-transaction-input-time" class="transaction-input" data-type="time" />
              </label>
            </div>
            <div class="add-transaction-input-preview">
              <div class="transaction-card expense">
                <div class="transaction-icon-category-method-time-container">
                  <div class="icon transaction-icon">
                    <img src="../assets/icons/transaction-category/expense/expense.svg" alt="" class="transaction-icon-preview" />
                  </div>
                  <div class="transaction-category-method-time-container">
                    <p class="transaction-category transaction-preview" data-type="category">Default</p>
                    <div class="transaction-method-time-container">
                      <p class="transaction-method transaction-preview" data-type="method">Cash</p>
                      <p>-</p>
                      <p class="transaction-time transaction-preview" data-type="time">Now</p>
                    </div>
                  </div>
                </div>
                <p class="transaction-amount transaction-preview" data-type="amount">-$0</p>
              </div>
            </div>
            <div class="add-transaction-action-buttons-container">
              <button class="button add-transaction-action-button discard-transaction-button">Discard</button>
              <button class="button add-transaction-action-button add-transaction-button">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
