*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-color: #ffffff;
  --expense-amount-color: red;
  --income-amount-color: lime;
}
body {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#container {
  position: relative;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  background-image: linear-gradient(45deg, #2f4550, #586f7c);
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.4) rgba(0, 0, 0, 0.2);
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  height: 8dvh;
  background-image: linear-gradient(45deg, #2f4550, #586f7c);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 0.5rem 0.5rem -0.25rem rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.user-logo-name {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.user-logo {
  height: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
.user-name {
  font-size: 1rem;
  font-weight: normal;
  color: var(--primary-text-color);
}
.current-tab-name {
  font-size: 1rem;
  font-weight: normal;
  color: var(--primary-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.theme-toggle-button {
  height: 1.4rem;
  aspect-ratio: 1/1;
}
.icon {
  aspect-ratio: 1/1;
  object-fit: contain;
}
.button {
  border: none;
  outline: none;
  background: none;
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 84vh;
  min-height: 84dvh;
  overflow-y: auto;
  margin: 8vh 0;
  margin: 8dvh 0;
  padding: 1rem;
  gap: 1rem;
}
.card {
  background-image: linear-gradient(135deg, #2f4550, #586f7c);
  border-radius: 0.5rem;
  box-shadow: 0.4rem 0.4rem 0.5rem -0.25rem rgba(0, 0, 0, 0.2);
  color: var(--primary-text-color);
  width: 100%;
  padding: 1rem;
}

/* Tab - Dashboard */
.balance-income-expense {
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.wrapper {
  display: flex;
  gap: 0.4rem;
}
.income-expense {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.expense-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expense-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.expense-pie-chart,
.budget-pie-chart {
  height: 7rem;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.4rem;
}
.recent-transactions {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.recent-transactions-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recent-transactions-heading-text {
  font-size: 1rem;
  font-weight: normal;
}
.recent-transactions-heading-see-all-button {
  opacity: 0.8;
}
.separator,
.vertical-separator {
  flex-shrink: 0;
  border-radius: 100%;
}
.separator {
  width: 100%;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0.4rem 0;
}
.vertical-separator {
  height: 1.6rem;
  width: 0.1rem;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 0.2rem;
}
.transaction-card,
.budget-card {
  background-color: rgba(255, 255, 255, 0.1);
  height: 3rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
}
.transaction-icon {
  height: 2.4rem;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.6rem;
  padding: 0.5rem;
}
.transaction-icon > img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.transaction-icon-category-type-time-container {
  display: flex;
  gap: 0.5rem;
}
.transaction-category-type-time-container {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.transaction-type-time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.6rem;
  color: var(--primary-text-color);
  opacity: 0.8;
}
.transaction-amount.expense {
  color: red;
}
.transaction-amount.income {
  color: lime;
}

/* Tab - Transactions */
.search-bar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 100%;
}
.search-bar-container > .search-button,
.search-bar-container > .clear-search-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.search-bar-container > .search-button {
  left: 0;
  margin-left: 0.6rem;
  height: 1.2rem;
}
.search-bar-container > .clear-search-button {
  right: 0;
  margin-right: 0.6rem;
  height: 1rem;
}
.search-bar-container > .search-button > .icon,
.search-bar-container > .clear-search-button > .icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.search-bar {
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 0.4rem;
  background: none;
  padding-left: 2rem;
  color: var(--primary-text-color);
  outline: none;
}
.transaction-filters-time,
.transaction-filters-category,
.all-budgets-filters,
.statistics-time-filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
  overflow-x: auto;
  scrollbar-width: none;
}
.transaction-filter,
.budget-filter,
.statistics-time-filter {
  background-color: rgba(184, 219, 217, 0.2);
  white-space: nowrap;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
  font-size: 0.8rem;
}
.transaction-filter.selected,
.budget-filter.selected,
.statistics-time-filter.selected {
  background-color: rgba(184, 219, 217, 0.3);
}

.all-transactions-title {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}
.all-transactions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.6rem;
}

/* Tab - Budget */
.add-new-budget-button {
  background-color: rgb(184, 219, 217, 0.5);
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  align-self: flex-end;
}
.remaining-budget-overview {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.remaining-budgets {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.6rem;
}
.remaining-budget-icon {
  height: 2.2rem;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.6rem;
  border-radius: 0.4rem;
}
.remaining-budget-overview-pie-chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
}
.remaining-budget-overview-heading {
  font-weight: normal;
  font-size: 1rem;
}
.remaining-budget {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 0.4rem;
}
.remaining-budget-type-amount-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0.4rem;
}
.remaining-budget-type-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remaining-budget-type {
  font-size: 0.9rem;
}
.remaining-budget-amount {
  font-size: 0.8rem;
  opacity: 0.8;
}
.remaining-budget-progress-bar {
  height: 0.6rem;
  width: 8rem;
}

.all-budgets-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.all-budgets-heading {
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
}
.all-budgets-filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
  margin-top: 0.2rem;
  margin-bottom: 0.6rem;
}
.all-budgets {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.6rem;
}
.budget-card {
  gap: 1rem;
}
.budget-icon-type-progress-amount-progress-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
}
.budget-type-progress-amount-progress-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  gap: 0.2rem;
}
.budget-icon {
  height: 2.4rem;
  aspect-ratio: 1/1;
  background-color: rgba(184, 219, 217, 0.2);
  padding: 0.5rem;
  border-radius: 0.4rem;
  margin: 0;
}
.budget-type-progress-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remaining-budget-progress-bar {
  width: 100%;
}
.budget-progress-amount {
  font-size: 0.7rem;
  opacity: 0.8;
}

/* Tab - Statistics */
.export-statistics-button {
  background-color: rgba(184, 219, 217, 0.5);
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  align-self: flex-end;
}
.statistics-chart {
  aspect-ratio: 1/1;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 8vh;
  height: 8dvh;
  width: 100%;
  background-image: linear-gradient(45deg, #2f4550, #586f7c);
  box-shadow: -0.5rem 0 0.8rem -0.25rem rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}
.navigation-button {
  height: 2.4rem;
  padding: 0.4rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.4rem;
  aspect-ratio: 1/1;
}
.navigation-button.selected {
  background-color: rgba(255, 255, 255, 0.2);
}
.navigation-button-dashboard {
  padding: 0.5rem;
}
.navigation-button-add {
  border-radius: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0.4rem 0.4rem 0.2rem -0.2rem rgba(0, 0, 0, 0.2);
}
.navigation-button > .icon {
  height: 100%;
  width: 100%;
}

/* Tablet */
.open-sidebar-button {
  display: none;
  height: 1.8rem;
  aspect-ratio: 1/1;
  margin: 0 0.4rem;
}
.open-sidebar-icon {
  height: 100%;
  width: 100%;
}
.sidebar-button-user-logo-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
}
.navigation-button-add.tablet {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(-45%, -45%);
}
.balance-income-expense-expense-overview-top-icomes-top-expenses {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
}
.balance-income-expense-expense-overview {
  flex: 2;
}
.top-incomes-top-expenses {
  flex: 1;
}
.balance-income-expense-expense-overview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
}
.top-incomes-top-expenses {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.4rem;
}
.top-incomes-heading,
.top-expenses-heading {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}
.top-income,
.top-expenses {
  font-size: 0.8rem;
}
.top-incomes,
.top-expenses {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.6rem;
  margin-top: 0.5rem;
}
.top-incomes-top-expenses {
  display: none;
}
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 20px;
  }
  .open-sidebar-button {
    display: block;
  }
  .top-incomes-top-expenses {
    display: flex;
  }
  .footer {
    display: none;
  }
  .navigation-button-add.tablet {
    display: block;
  }
}
