*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-color: #ffffff;
  --expense-amount-color: red;
  --income-amount-color: lime;
}
body {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#container {
  position: relative;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  background-image: linear-gradient(45deg, #2f4550, #586f7c);
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.4) rgba(0, 0, 0, 0.2);
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  height: 8dvh;
  background-image: linear-gradient(45deg, #2f4550, #586f7c);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 0.5rem 0.5rem -0.25rem rgba(0, 0, 0, 0.2);
}
.user-logo-name {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.user-logo {
  height: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
.user-name {
  font-size: 1rem;
  font-weight: normal;
  color: var(--primary-text-color);
}
.current-tab-name {
  font-size: 1rem;
  font-weight: normal;
  color: var(--primary-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.theme-toggle-button {
  height: 1.4rem;
  aspect-ratio: 1/1;
}
.icon {
  aspect-ratio: 1/1;
  object-fit: contain;
}
.button {
  border: none;
  outline: none;
  background: none;
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  overflow-y: auto;
  margin: 8vh 0;
  margin: 8dvh 0;
  padding: 1rem;
  gap: 1rem;
}
.card {
  background-image: linear-gradient(135deg, #2f4550, #586f7c);
  border-radius: 0.5rem;
  box-shadow: 0.4rem 0.4rem 0.5rem -0.25rem rgba(0, 0, 0, 0.2);
  color: var(--primary-text-color);
  width: 100%;
  padding: 1rem;
}
.balance-income-expense {
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.wrapper {
  display: flex;
  gap: 0.4rem;
}
.income-expense {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.budget-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.budget-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.budget-pie-chart {
  height: 7rem;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.4rem;
}
.recent-transactions {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.recent-transactions-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recent-transactions-heading-text {
  font-size: 1rem;
  font-weight: normal;
}
.recent-transactions-heading-see-all-button {
  opacity: 0.8;
}
.separator {
  width: 100%;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0.4rem 0;
}
.transaction-card {
  background-color: rgba(255, 255, 255, 0.1);
  height: 3rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4rem;
}
.transaction-icon {
  height: 2.2rem;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.6rem;
  padding: 0.5rem;
}
.transaction-icon > img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.transaction-icon-category-type-time-container {
  display: flex;
  gap: 0.5rem;
}
.transaction-category-type-time-container {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.transaction-type-time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.6rem;
  color: var(--primary-text-color);
  opacity: 0.8;
}
.transaction-amount.expense {
  color: red;
}
.transaction-amount.income {
  color: lime;
}
.footer {
  position: fixed;
  bottom: 0;
  height: 8vh;
  height: 8dvh;
  width: 100%;
  background-image: linear-gradient(45deg, #2f4550, #586f7c);
  box-shadow: -0.5rem 0 0.8rem -0.25rem rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navigation-button {
  height: 2.4rem;
  padding: 0.4rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.4rem;
  aspect-ratio: 1/1;
}
.navigation-button.selected {
  background-color: rgba(255, 255, 255, 0.2);
}
.navigation-button-dashboard {
  padding: 0.5rem;
}
.navigation-button-add {
  border-radius: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0.4rem 0.4rem 0.2rem -0.2rem rgba(0, 0, 0, 0.2);
}
.navigation-button > .icon {
  height: 100%;
  width: 100%;
}
